extends ../templates/admin

block content
    script(type='text/javascript').
        laurenApp.controller('PieceCtrl', function ($scope, $http) {
            $scope.newPiece = {id:'new', name:'', published: '', desc:'', file: '', url:'', type:''};
            $scope.pieces = !{(JSON.stringify(page.pieces) ? JSON.stringify(page.pieces) : '[]' )};
            $scope.activePiece = $scope.newPiece;

            $scope.setActive  = function($index) {
                $scope.activePiece = $scope.pieces[$index];
            };
            $scope.clearActive = function(){
                $scope.activePiece = $scope.newPiece;
            };
            $scope.mode = function(){
                return ($scope.activePiece.id == 'new' ? 'Create' : 'Edit');
            };
            /**
            *   for new entries, the form posts to /piece/create
            *   to edit existing entries, we post to /piece/{id}
            */
            $scope.formAction = function(){
              return ($scope.mode() == 'Create' ? '/admin/piece/create' : '/admin/piece/' + $scope.activePiece.id);
            };

            $scope.save = function(){
                $http({
                    method: 'POST',
                    url: $scope.formAction(),
                    data: {Piece : $scope.activePiece }
                }).then(function(res){
                    if(res.data.success == 1 && typeof(res.data.id) != 'undefined'){
                        $scope.activePiece.id = res.data.id;
                        $scope.append($scope.activePiece);
                        $scope.activePiece = $scope.newPiece;
                    }
                });
                return false;
            };
            $scope.append = function(piece){
                $scope.pieces.push(piece);
            };
            $scope.delete = function(){
                if ($scope.activePiece.id == 'new') {
                    return;
                }
                $http({
                    method: 'POST',
                    url: '/admin/piece/' + $scope.activePiece.id + '/delete'
                }).then(function() {
                    for(var i in $scope.pieces){
                        if ($scope.pieces[i].id == $scope.activePiece.id) {
                            $scope.pieces.splice(i, 1);
                            break;
                        }
                    }
                    $scope.clearActive();
                });
            };
        });
    section(ng-controller='PieceCtrl')
        .container
            .col-sm-5
                .panel.panel-default
                    .panel-heading Saved Pieces
                    table.panel-body.table
                        thead
                            tr
                                th ID
                                th Title
                                th Is Published
                        tbody
                            tr(ng-repeat='piece in pieces', ng-click='setActive($index)')
                                td {{ piece.id }}
                                td {{ piece.name }}
                                td
                                    span(ng-show="piece.published") &check;
                            tr(ng-show='pieces.length == undefined')
                                td(colspan='3')  Nothing Created Yet
            .col-sm-6.col-sm-offset-1
                form#piece-form(method='post')
                    .panel.panel-primary
                        .panel-heading {{ ($scope.mode() == 'Create' ? 'Add Piece' : 'Edit: ' + $scope.activePiece.name) }}
                        .panel-body
                            input(ng-model='activePiece.id', type='hidden', name='id')
                            .form-group
                                label Name
                                input.form-control(ng-model='activePiece.name', type='text', name='name')
                            .form-group
                                label Description
                                textarea.form-control(ng-model='activePiece.desc ', name='desc')
                            .form-group
                                label
                                    input(ng-model='activePiece.published', type='checkbox', name='published', value='published')
                                    | Published
                            .form-group
                                label Type
                                label
                                    input(ng-model='activePiece.type', value='image', type='radio', name='type')
                                    | Image
                                label
                                    input(ng-model='activePiece.type', value='video', type='radio', name='type')
                                    | Video
                            .form-group(ng-show='activePiece.type == "image"')
                                label Image
                                input(ng-model='activePiece.file', type='file', name='image')
                            .form-group(ng-show='activePiece.type == "video"')
                                label Embed Code
                                textarea.form-control(ng-model='activePiece.url', name='url')
                        .panel-footer
                            .btn.btn-default(ng-show='activePiece.id != "new"', ng-click='clearActive()') Clear
                            .btn.btn-danger(ng-show='activePiece.id != "new"', ng-click='delete()') DELETE FOR EVER
                            input.btn.btn-primary(type='submit',ng-click='save()', value='Save')
        .modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close.pull-right(data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') &times;
                        h4.modal-title  Images
                    .modal-body
                        form.dropzone#dropzone(action='/admin/piece/add-images')
                            input(type='text', ng-model='activePiece.id', name='piece_id')
                            #dropzone-preview
                    .modal-footer
                        .btn.btn-default(data-dismiss='modal')  Close
                        .btn.btn-primary    Save Images
