extends ../templates/site

block content
    section
        .container
            .col-sm-6.text-center
                img.thumbnail(src='/images/lauren-mastro.jpg')
            .col-sm-6
                article
                h1  About
                p
                    | Hi everyone, welcome to my website! My name is Lauren Mastro. I love all kinds of art and over the years
                    | I have dabbled in just about every medium. A lot of my work is just for fun but I do like to throw in a
                    | few commissions from time to time. I love experimenting with color and exploring random content. Lately
                    | I’ve become obsessed with entertainment design and illustration so there should be some fun new posts
                    | coming soon.