extends ../templates/site

block content
    section
        .container
            h1.text-center Contact Me
            .col-sm-6.col-sm-offset-3
                form#contact
                    .form-group
                        label Name
                        input(type='text', name='Name').form-control
                    .form-group
                        label Email
                        input(type='email', name='email').form-control
                    .form-group
                        label Phone
                        input(type='phone', name='phone').form-control
                    .form-group
                        label What's on your mind?
                        textarea(name='message').form-control
                    .form-group
                        input(type='submit', value='SEND').btn.btn-primary.btn-lg.pull-right