extends ../templates/site

block content
    .jumbotron.text-center
        h1
            span.frosted Lauren Mastro
        p
            span.frosted Starving Artist
        p
            a.btn.btn-default.btn-lg(href='/portfolio', role='button') SEE MY WORK