extends ../templates/site
block content
    section(ng-controller='PieceCtrl')
        h1.text-center Portfolio
        script(type = 'text/javascript').
            laurenApp.controller('PieceCtrl', function ($scope) {
                $scope.pieces = !{JSON.stringify(page.pieces)};
                $scope.source = function(piece){
                    return '';
                }
            });
        #portfolio-viewport
        .piece(ng-repeat='piece in pieces')
            img(ng-src='{{"/images/portfolio/"+piece.id+".jpg"}}')
        .col-sm-4(ng-repeat='piece in pieces')
            .thumbnail
                .caption.text-center {{ piece.name }}